In [1]:
import pandas as pd
reviews = pd.read_csv("C:/Users/julio/Documents/Codigos/Dados/winemag-data-130k-v2.csv", index_col=0)
reviews.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [ ]:
# maioria dos comandos funcionam para dataframes e series
# exemplo: reviews.info() ou reviews.points.info()

In [5]:
# dimensoes (linha, colunas)
reviews.shape

(129971, 13)

In [6]:
# numero de elementos (linha * colunas)
reviews.size

1689623

In [12]:
# fornece uma lista de valores unicos, só funciona em series
reviews.points.unique()

array([ 87,  86,  85,  88,  92,  91,  90,  89,  83,  82,  81,  80, 100,
        98,  97,  96,  95,  93,  94,  84,  99], dtype=int64)

In [6]:
# Conta a quantidade de valores unicos - não conta Nan
reviews.nunique()

country                      43
description              119955
designation               37979
points                       21
price                       390
province                    425
region_1                   1229
region_2                     17
taster_name                  19
taster_twitter_handle        15
title                    118840
variety                     707
winery                    16757
dtype: int64

In [4]:
#  numero de valores não nulos
reviews.count()

country                  129908
description              129971
designation               92506
points                   129971
price                    120975
province                 129908
region_1                 108724
region_2                  50511
taster_name              103727
taster_twitter_handle     98758
title                    129971
variety                  129970
winery                   129971
dtype: int64

In [8]:
# Fornece alguns dados estatisticos
reviews.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [14]:
# Estatistica especifica 
reviews.points.mean()

In [10]:
# Fornece informações diversas
reviews.info()

<class 'pandas.core.series.Series'>
Int64Index: 129971 entries, 0 to 129970
Series name: points
Non-Null Count   Dtype
--------------   -----
129971 non-null  int64
dtypes: int64(1)
memory usage: 2.0 MB

In [4]:
# mostra colunas e linhas (não em formato de lista)
print(reviews.columns)
print(reviews.index)
print(reviews.axes) # colunas e linhas

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            129961, 129962, 129963, 129964, 129965, 129966, 129967, 129968,
            129969, 129970],
           dtype='int64', length=129971)

In [5]:
# mostra os tipos de dados das colunas
reviews.dtypes

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object