In [ ]:
-- usando a database
USE database_name;

-- criando database
CREATE DATABASE database_name;

-- criando tabela
CREATE TABLE table_name(
    column1_name column1_type,
    column2_name column2_type,
    column3_name column3_type
    CONSTRAINT
);

In [ ]:
-- NULL is equal to UNKOWN

NULL = 1    -- UNKOWN
NULL <> 1   -- UNKOWN
NULL > 1    -- UNKOWN
NULL = '1'  -- UNKOWN
NULL = NULL -- UNKOWN

-- Método para avaliar NULL
NULL IS NULL
NULL IS NOT NULL

In [ ]:
-- excluindo database
DROP DATABASE database_name;

-- excluindo tabela
DROP TABLE table_name;

-- excluindo coluna
ALTER TABLE table_name
DROP COLUMN column_name;

-- excluindo valores das tabelas
DELETE FROM table_name -- sem condição deleta todas as colunas 
WHERE condition -- ex: column_name = 0;