In [ ]:
-- utilizar o resultado de um querry em outro querry
-- exemplos

In [ ]:
-- SELECT

SELECT *, 
    (SELECT 
         name 
     FROM 
         users_info 
     WHERE 
         username = registered_users.username) AS name 
FROM
    registered_users

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

SELECT 
    id,
    product 
FROM
    new_orders AS newor 
WHERE unit_price < (
    SELECT 
        AVG(unit_price) 
    FROM 
        new_orders
    WHERE 
        product_category = newor.product_category);

In [ ]:
-- UPDATE

UPDATE
    students 
SET
    exams_passed = TRUE 
WHERE 
    name in (
        SELECT
            name
        FROM
            exam_results 
        WHERE
            math_exam_mark >= 18
            AND english_exam_mark >= 18
        ); 

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

UPDATE
    students 
SET
    scholarship = (
        SELECT 
            MIN(scholarship)
        FROM students
    ) 
WHERE
    exam_passed = FALSE;

In [ ]:
-- INSERT 

INSERT INTO employees 
VALUES (
    'Tomas Hedwig', 
    (SELECT salary FROM employees WHERE name = 'Ann Reed'), 
    (SELECT id FROM departments WHERE department = 'PR')
)

In [ ]:
-- DELETE 

DELETE FROM orders
WHERE customer_id = (SELECT customer_id FROM customers WHERE name = 'Ann Smith')