In [ ]:
-- UPDATE - altera valores

UPDATE 
    table_name 
SET 
    col1 = expr1, 
    col2 = expr2, 
    …, 
    colN = expr 
WHERE 
    logical_expression;

In [ ]:
-- INSERT - adiciona valores

INSERT INTO table_name (column1_name, column2_name, column3_name)  -- definir as colunas é opcional
VALUES (text, numeric, boolean),
       (text, numeric, boolean),
        ...

In [ ]:
-- adicionando valores de uma tabela em outra

INSERT INTO table1 (table1_column_1, table1_column_2, ..., table1_column_n)
    SELECT 
        table2_column_1,
        table2_column_2,
        ...,
        table2_column_n 
    FROM 
        table2
    WHERE 
        condition;